# Encrypt a specific file
homework1-answered.qmd filter=git-crypt diff=git-crypt
homework2-answered.qmd filter=git-crypt diff=git-crypt
homework3-answered.qmd filter=git-crypt diff=git-crypt
homework4-answered.qmd filter=git-crypt diff=git-crypt
homework5-answered.qmd filter=git-crypt diff=git-crypt