.Rproj.user
.Rhistory
.RData
.Ruserdata
*.gdoc

/.quarto/

**/*.quarto_ipynb

# Windows folder customization files
[Dd]esktop.ini

# Quarto output directories
/_sites/
/_site/

# Ignore root-level rendered HTML and assets from local builds
/*.html
/*_files/
/site_libs/

# Ignore slides rendered HTML and assets from local builds
/slides/*.html
/slides/*_files/
